
<div class="container">
    <div class="row">
   <form [formGroup]="frm">
  <div class="mb-3">
    <label for="id" class="form-label">ID:</label>
    <input type="number" formControlName="id" class="form-control" id="id" >
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input required="required" formControlName="name"  type="text"   class="form-control" id="name">
</div>
  <div class="mb-3">
    <label for="des" class="form-label">Description</label>
    <input type="text" formControlName="description" class="form-control" id="des">
  </div>
  <app-question-form (notif)="getquestion($event)"></app-question-form>
  <button [disabled]="!frm.valid" type="submit" class="btn btn-primary">Submit</button>
</form>

<hr/>
{{frm.value | json}}

{{data | json}}
    </div>
</div>