<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Option Form
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form [formGroup]="ofrm">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" class="form-control" id="id" formControlName="id">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" (change)="sendstate()" class="form-control" id="name" formControlName="name">
                        <div class="alert alert-danger" [hidden]="ofrm.controls['name'].valid">attention</div>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="isAnswer" formControlName="isAnswer">
                        <label class="form-check-label" for="isAnswer">Is Answered</label>
                    </div>
                    <p>{{ofrm.status}}</p>
                    <button type="button" [disabled]="!ofrm.valid" (click)="send()" class="btn btn-primary">add option</button>
                </form>
            </div>
        </div>
    </div>
</div>
