<div class="container">
<app-quiz-config [dataconfig]="data.config"></app-quiz-config>

<div class="btn-group container" role="group" aria-label="Basic mixed styles example">
  @if (mode!=='submit'){
    <button type="button" class="btn btn-danger" (click)="changemod('quiz')">Quiz</button>
  <button type="button" class="btn btn-warning" (click)="changemod('review')" [hidden]="!data.config.allowReview">Review</button>
  }
  <button type="button" class="btn btn-success" (click)="changemod('submit')">Submit</button>
</div>
    <h1 [appColor]="'red'">{{data.name}}</h1>
    <h5>{{data.description}}</h5>
    @if(data.config.showClock)
    {
    <div >
      <p> Duree:  {{duree}}</p>
        <app-clock></app-clock>
       
    </div>
}
<div>
   Bienvenu au quiz {{slug}}
</div>
    @if (mode=='quiz') {
    <div>
    @for (q of data.questions; track $index) {
        @if ($index>=currentquestion && $index<currentquestion+epage) {
            {{$index}}
        <app-question [mode]="mode" [qdata]="q" ></app-question>
        }
    }
    <app-pagination [backdisplay]="data.config.allowBack" [elebypage]="epage" [total]="data.questions.length" (notif)="recuperer($event)"></app-pagination>
    </div>
    }
     @if (mode=='review') {
    <div>
        <h1>Review</h1>
        {{data | quiz:'select'}}
         @for (q of data.questions ; track $index) {

        <app-question [mode]="'review'" [qdata]="q" ></app-question>
        
    }
        </div>
    }

      @if (mode=='submit') {
    <div>
        <h1>Submit</h1>
        <h4>Votre score est : {{data.score() | percent}}</h4>
       
        

        <div>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">All</label>

    <input type="checkbox" [(ngModel)]="x" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">Correct</label>

    <input [(ngModel)]="x"  type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3">Incorrect</label>
    </div>
        </div>
        <p>x:  {{x}}</p>
        {{data | quiz:x?'correct':'all'}}
            <div *ngFor="let q of data | quiz:x?'correct':'all' ">
        <app-question [mode]="'submit'" [qdata]="q" ></app-question>
        </div>
    
        </div>
        
    }
   
</div>